h1 {
    text-align: center;
    color:blueviolet;
    font-weight: bold;
}

p {
    text-align: center;
    color:aliceblue;
    font-size: large;
    font-weight: bolder;
}

body {
    background-color:#b0c4de;
}

div {
    text-align: center;
    border:2px solid;
    border-radius:25px;
}

a {
    text-align: center;
    margin-left: 50%; 
    margin-right: 50%; 
    color:cadetblue;
    font-size: large;
    font-weight: bolder;
}